.rbc-header {
  padding: 50px !important;
  background: none;
  text-overflow: unset !important;
}

.rbc-time-header-content,
.rbc-time-content>*+*>* {
  border-left: 0.2px solid #ddd !important;
}

.rbc-time-header.rbc-overflowing {
  border-right: 0.2px solid #ddd !important;
}

.rbc-time-content {
  border-top: 0.2px solid #ddd !important;
}

.rbc-timeslot-group,
.rbc-header {
  border-bottom: 0.2px solid #ddd !important;
}

.rbc-calendar {
  background-color: #fafbfc;
  padding: 10px;
}

.rbc-row-bg {
  display: none !important;
}

/* .toolbar {
  background-color: #fafbfc;
  padding: 10px;
} */

.css-nbv3vr-MuiResponsiveChart-container {
  width: 153px !important;
  height: 152px !important;
}

.TodoDataTable .rbc-label {
  color: var(--royalBlue);
}

.todoHeadingSelect .month-year-picker {
  box-shadow: 0px 0px 10px 0px rgb(194, 194, 194);
  color: var(--royalBlue);
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 0px 10px !important;
}

.todoHeadingSelect .month-year-picker select {
  font-size: 14px !important;
  border-radius: 0px;
  background-color: #fff;
  height: 40px;
}

.todoHeadingSelect .month-year-picker select:first-child {
  margin-right: 10px;
}

.TodoDataTable .rbc-btn-group button {
  background-color: white !important;
  border: none !important;
  padding: 0px !important;
  margin: 10px !important;
}

.TodoDataTable .rbc-btn-group .rbc-active {
  background-color: white !important;
  border-bottom: 2px solid !important;
  border-color: var(--royalBlue) !important;
  box-shadow: none !important;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0px;
}

.rbc-day-slot .rbc-event-content {
  position: relative;
}

.calendarTopSection {
  /* position: absolute; */
  background: white;
  box-shadow: 0px 0px 10px 0px gray;
  padding: 10px;
  /* border-radius: 0px 5px 5px 0px; */
  border-radius: 5px;
  border-left: 20px solid;
  border-color: var(--royalBlue);
  z-index: 333;
}

.calendarTopSection:hover {
  background-color: var(--royalBlue);
}

.calendarTopSection:hover li {
  color: white;
}


.rbc-day-slot .rbc-event {
  min-height: 200px !important;
  overflow: auto !important;
  border: none !important;
  background-color: transparent !important;
  padding: 10px !important;
  color: #000 !important;
}


.rbc-day-slot .rbc-event-label {
  display: none;
}

.modelContainer {
  min-width: 300px;
  padding: 5px;
  border: 1px solid grey;
}

.innerContainer {
  display: flex;
  gap: 5px;
}

.innerItem {
  display: flex;
  flex-basis: 50%;
  border: 1px solid grey;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.eyeImg {
  width: 17px;
}

.downloadImg {
  width: 17px;
}

.gmeetImg {
  width: 150px;
}

.btn1 {
  border: 1px solid #0A66C2;
  background-color: #FFFFFF;
  gap: 5px;
}

.btn2 {
  background-color: #0A66C2;
  color: #FFFFFF;
}

.paper {
  min-width: 40%;
  outline: none;
  max-width: 80%;
  box-shadow: 0px 0px 10px 0px gray;
}

.eventbadge {
  position: absolute;
  z-index: 1000;
  width: 20px;
  height: 20px;
  background-color: #FFD700;
  color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -7px;
  top: -9px;
  font-size: 12px;
  font-weight: 500;
}

.navigatebtn {
  color: #000000;
  background-color: transparent;
  border: 0.5px solid #54a1e3;
  width: 30px;
  height: 30px;
  min-width: 0px;
  font-size: 20px;
  color: #a79e9e;
}

.navigatebtn:first-child {
  margin-right: 5px;
}

.toolbar {
  background-color: #fafbfc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rbc-time-view .rbc-allday-cell {
  /* display: none; */
}

.header {
  font-weight: 500;
}